<div class="form-group">
  <%= form_for(@task, url: yield(:form_url)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :content, class: "h6"%>
    <%= f.text_field :content, class: "form-control", value: @task.content %>

    <%= f.label :deadline, class: "h6" %>
    <%= f.text_field :deadline, class: "date-picker form-control", value: @task.deadline.to_s(:date) %>

    <%= f.label :status, class: "h6" %>
    <%= f.select :status,
                  options_for_select(Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}.msg"), k] }, @task.status),
                  {},{ class: "custom-select" } %>
  
    <%= f.submit yield(:btn_txt), class: "btn btn-primary" %>
  <% end %>
</div>